@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Noto+Sans+TC:wght@300&display=swap');

* {
    font-family: "Kalam", "Noto Sans TC";
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.text-main {
    color: #654B34;
}

.text-sub {
    color: #C6B089;
}

.text-hover {
    color: #FFA742;
}

.text-dark {
    color: #353535;
}

.text-grey {
    color: #707070;
}

.bg-main {
    background-color: #654B34;
}

.bg-sub {
    background-color: #C6B089;
}

.bg-hover {
    background-color: #FFA742;
}

.bg-dark {
    background-color: #353535;
}

.bg-grey {
    background-color: #707070;
}

.font-sm {
    font-size: 12px;
}

.font-md {
    font-size: 20px;
}

.bg-cover {
    background-size: cover;
}

.list-none {
    list-style: none;
}

/****************************** navbar *****************************/
.navbar-position {
    position: absolute;
    z-index: 10;
    background-color: rgba(101, 75, 52, 0.9);
}

.logo {
    display: block;
    width: 240px;
    height: 75px;
    background-image: url('../images/navbar-logo.svg');
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}


.navbar-icon {
    display: none;
    position: relative;
    border: solid 1px white;
    width: 56px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.line1,
.line2,
.line3 {
    position: relative;
    border-radius: 4px;
    width: 28px;
    height: 3px;
    transform: translateX(14px) translateY(10px);
    transition: 0.5s;
    background-color: white;
}
.line2 {
    transition: 0s;
    transform: translateX(14px) translateY(15px);
}
.line3 {
    transform: translateX(14px) translateY(20px);
}


.navbar-icon-click
{
    transition: 0.5s;
}
.line1-click {
    transform: translateX(10px) translateY(18px) rotate(45deg);
    width: 36px;
}
.line2-click {
    display: none;
}
.line3-click {
    transform: translateX(10px) translateY(16px) rotate(-45deg);
    width: 36px;
}


.nav-btn:after {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    transform: rotate(-30deg);
    width: 34px;
    height: 31px;
    color: #FFA742;
    background-image: url('../images/paw-main.svg');
    background-size: cover;
    opacity: 0;
    transition: 0.3s;
}

.nav-btn:hover {
    border-bottom: solid 5px #FFA742;
}

.nav-btn:hover:after {
    opacity: 1;
}

/****************************** banner *****************************/
.banner-mark {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 230px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../images/banner-mark.svg');
    transition: 2s;
    animation: fadeup 5s;
    z-index: 1;
    filter: opacity(0.8);
}

@keyframes fadeup {
    0% {
        top: 70%;
        filter: opacity(0.5);
    }

    30% {
        top: 50%;
        filter: opacity(0.8);
    }

    50% {
        top: 55%;
    }

    100% {
        filter: opacity(0);
    }
}

.carousel:hover>.carousel-inner>.banner-mark {
    transition: 2s;
    filter: opacity(0);
}

/****************************** section1 *****************************/
.pawbox{
    position: absolute;
    display: inline-block;
    top: 330px;
    left: 0px;
    transform: rotate(-120deg);
}

.pawbox1 {
    position: absolute;
    display: inline-block;
    right: 0px;
    bottom: 250px;
    transform: rotate(60deg);
}
.paw1,
.paw2,
.paw3,
.paw4,
.paw5,
.paw6,
.paw7,
.paw8 {
    opacity: 0.3
    position: absolute;
    width: 20px;
    animation: pace 10s infinite;
}
.paw1{
    transform: translate(10px, 400px);
}
.paw2 {
    transform: translate(30px, 350px);
    animation-delay: 0.4s
}
.paw3 {
    transform: translate(10px, 300px);
    animation-delay: 0.8s
}
.paw4 {
    transform: translate(30px, 270px);
    animation-delay: 1.2s
}
.paw5 {
    transform: translate(10px, 220px);
    animation-delay: 1.6s
}
.paw6 {
    transform: translate(30px, 160px);
    animation-delay: 2.0s
}
.paw7 {
    transform: translate(10px, 110px);
    animation-delay: 2.4s
}
.paw8 {
    transform: translate(30px, 70px);
    animation-delay: 2.8s
}

@keyframes pace{
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }

}




.cat-icon::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    left: -5px;
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-image: url('../images/cat-sub.svg');
}

.cat-ul {
    height: 380px;
    padding: 50px 0px;
}

.img-border {
    border: solid 1px #C6B089;
    border-radius: 100%;
}

.overlay {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: opacity(0);
    background-image: url('../images/radius-overlay.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 2px;
}

.fa-bell {
    display: block;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.cat-content {
    top: -200px;
    opacity: 0;
}

.cat-box {
    list-style: none;
    height: 300px;
}

.cat-box:hover>.overlay {
    filter: opacity(0.7);
    transition: 0.7s;
}

.cat-box:hover>.cat-content {
    opacity: 1;
    transition: 0.7s;
}

.cat-box:hover>.fa-bell {
    animation: bells 1s infinite;
}

@keyframes bells {
    0% {
        transform: translate(-50%, -50%) rotate(-30deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(30deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-30deg);
    }
}
/****************************** section2 *****************************/
.bg-blur {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    padding: 0;
}

/****************************** section3 *****************************/
.section-btn1,
.section-btn3 {
    color: #654B34;
    border: solid 1px #654B34;
    padding: 15px 45px;
    transition: 0.5s;
}

.section-btn1:hover,
.section-btn3:hover {
    background-color: #654B34;
    color: white;
}

.section-btn2 {
    display: inline-block;
    flex: none;
    color: #654B34;
    border: solid 1px #654B34;
    padding: 15px 60px;
    transition: 0.5s;
}

.section-btn2:hover {
    background-color: #654B34;
    color: white;
}

.hr {
    width: 100%;
    border-top: solid 1px #654B34;
}

.badge-hover {
    font-weight: normal;
    font-family: Noto Sans TC;
    font-size: 14px;
    color: white;
    background-color: #FFA742;
    border: solid 1px #654B34;
    line-height: 14px;
    vertical-align: middle;
    animation: updown 2s infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-5px);
    }
}

/****************************** footer *****************************/
.footer-logo {
    display: block;
}

.tel {
    font-family: Noto Sans TC;
    font-style: italic;
    color: white;
    font-size: 45px;
}

.address {
    font-style: italic;
    font-size: 16px;
}

.copyright {
    font-family: Noto Sans TC;
    font-size: 16px;
}


/****************************** cat-pic *****************************/
.cat1 {
    position: absolute;
    width: 500px;
    bottom: -80px;
    right: 0;
    z-index: 10;
}

.cat2 {
    position: absolute;
    width: 450px;
    left: -80px;
    bottom: -60px;
    z-index: 10;
}


/****************************** page-menu *****************************/
.menu-title {
    font-weight: 600;
    color: #44403a;
    text-align: center
}

.list-group {
    width: 90%;
    margin: 0 auto;
    border-top: dotted 4px #654B34;
    border-bottom: dotted 4px #654B34;
    padding-top: 30px;
    padding-bottom: 10px;
    z-index: 4;
}

.list-btn {
    margin-left: 20px;
    margin-bottom: 22px;
    padding-bottom: 0px;
    text-align: left;
    font-weight: 600;
    text-decoration: none;
    color: #654B34;
    font-size: 20px;
    transition: 0.5s;
}

.btn-bottom {
    display: block;
    border-top: solid 1px #654B34;
    width: 0px;
    transition: 0.8s;
}

.list-btn:hover {
    transition: 0.2s;
    color: white;
    text-decoration: none;
}

.list-btn:hover>.btn-bottom {
    width: 200px;
}


/****************************** lg*****************************/
@media (max-width: 1200px) {
    .cat1 {
        width: 400px;
        bottom: -60px;
    }

    .cat2 {
        width: 400px;
        left: -120px;
    }
}

/****************************** md *****************************/
@media (max-width: 992px) {

    .navbar-icon {
        display: block
    }

    .nav-btn:after {
        right: 40%;
    }

    .banner-mark {
        width: 400px;
        height: 200px;
    }

    .footer-logo {
        display: none;
    }

    .cat-ul {
        height: 320px;
        padding: 50px 0px;
    }

    .cat1 {
        width: 330px;
        bottom: -60px;
    }

    .cat2 {
        width: 350px;
        left: -130px;
    }

    .btn-bottom {
        margin: 0 auto;
    }

}

/****************************** sm *****************************/
@media (max-width: 768px) {


    .cat1,
    .cat2 {
        display: none;
    }

    .banner-mark {
        display: none;
    }

    .cat-ul {
        height: auto;
        padding: 50px 0px;
    }

    .cat-box:hover>.overlay {
        filter: opacity(0);
        transition: 0.7s;
    }

    .cat-content {
        top: 0;
        opacity: 1;
    }

    .map {
        display: none;
    }

    .section-h3 {
        font-weight: 600;
        text-shadow: 1px 1px 5px #353535;
    }

    .section-h5 {
        color: white;
    }

    .section-btn1,
    .section-btn3 {
        color: white;
        border: none;
        background-color: #654B34;
        transition: 0.5s;
    }

    .section-btn1:hover,
    .section-btn3:hover {
        background-color: #654B34;
    }

    .section-btn2{
        background-color: #654B34;
        color: white;
    }

    .dessert, 
    .pasta{
        filter: brightness(60%);    
    }

    .tel {
        font-family: Noto Sans TC;
        font-style: italic;
        color: white;
        font-size: 35px;
    }

    .address {
        font-style: italic;
        font-size: 14px;
    }

    .copyright{
        font-size: 12px;
    }

    .footer-nav{
        font-size: 14px;
    }
    .list-btn{
        font-size: 18px;
        margin-bottom: 15px;
        text-align: center;
    }

}

